.coordinatesForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.coordinatesForm>form {
  width: 100%;
}

.coordinatesFormGroup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.coordinatesFormGroup>button {
  margin-bottom: 1rem;
}

.coordinatesFormGroup>.form-group {
  width: 40%;
}

.input-group>.invalid-tooltip {
  z-index: 999;
}