.tab-content {
  width: 60%;
  max-width: 80%;
  height: 3rem;
}

@media (max-width: 1500px) {
  .tab-content {
    width: 70%;
    max-width: 80%;
  }
}

@media (max-width: 850px) {
  .tab-content {
    width: 99%;
    max-width: 99%;
    height: fit-content;
  }

  .coordinatesForm > form {
    flex-direction: column;
  }

  .addressForm > form {
    flex-direction: column;
  }
}