header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.spinner-container {
  margin-bottom: 1rem;
  height: 2rem;
}

.map-container {
  width: 80%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}